body{
    font-family:Helvetica;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-decoration: underline;
}
section h2{
    color: green;
}
article h2 :first-child{
    color: blue;
}
article p::first-line{
    color: red;
}
