body{
    font-family:Helvetica;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-decoration: underline;
}
article section h2{
    color: green;
}
article h2 {
    color: blue;
}
h2~p{
    color: red;
}
h1~p{
    color: violet;
}