body{
    font-family:Helvetica;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-decoration: underline;
}
article section h2{
    color: green;
}
article h2 {
    color: blue;
}
article p:first-line{
    color: red;
    font-family: italic;
}
body p::first-line{
    color: violet;
}
